<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.workarounds.samples.autorikshaw">

    <application android:allowBackup="true" android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher" android:supportsRtl="true"
        android:theme="@style/AppTheme">

    </application>

</manifest>
